PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=ZcEEKNEFzf9_PbHSE3x03ZmyATtOg__H
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
DOCUSIGN_INTEGRATION_KEY=
DOCUSIGN_SECRET_KEY=
DOCUSIGN_REDIRECT_URI=
DOCUSIGN_API_BASE_PATH=
DOCUSIGN_OAUTH_BASE_PATH=
DOCUSIGN_USER_ID=
DOCUSIGN_ACCOUNT_ID=
